/* Cards */

.btnTienda {
    transition: all 0.2s linear;

    &:hover {
        transform: scale(105%);
    }
}

.contenedorImgTienda {
    transition: all 0.3s linear;

    &:hover {
        transform: scale(110%);
    }
}
