/* Media Querie footer */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .derechos {
        padding-bottom: 15px;
    }

    .redes {
        gap: 35px;
        padding-bottom: 15px;
    }
}

/* Media Querie pagina nosotros */
@media (max-width: 768px) {
    div.contenedorImgLocal {
        flex-direction: column;
        padding: 5%;
        gap: 20px;
    }

    img.imgLocal {
        height: 80%;
        width: 80%;
    }
}