/* Imagenes tienda */

h2 {
    color: $color-fuente;
    font-size: 30px;
    padding: 15px;
    @include fuente-secundaria;
}

.imgTienda {
    height: 100px;
    width: 100px;
    transition: all 0.7s;
}

.pTienda {
    color: $color-fuente;
    font-size: 20px;
    @include fuente-secundaria;
}

.hTienda {
    text-align: center;
    font-size: 150%;
}

.contenedorImg {
    text-align: center;
    align-items: center;
}